@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /** background-color: rgba(var(--bs-dark-rgb)); */
}

.align-left {
  text-align: left;
}


.custom-border {
  border: 2px solid black;
  padding: 10px;
}

.centered-badge {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.edit-icon {
  cursor: pointer;
  font-size: 25px;
  margin-right: 15px;
  border: 2px solid #31708f;
  /* Add your desired border color and style */
  border-radius: 5px;
  padding: 3px;
  /* Optional: Add padding to the icon */
}

.delete-icon {
  cursor: pointer;
  font-size: 25px;
  margin-right: 15px;
  border: 2px solid #d9534f;
  /* Add your desired border color and style */
  border-radius: 5px;
  padding: 3px;
  /* Optional: Add padding to the icon */
}

.archive-icon {
  cursor: pointer;
  font-size: 25px;
  margin-right: 15px;
  border: 2px solid #f0ad4e;
  /* Add your desired border color and style */
  border-radius: 5px;
  padding: 3px;
  /* Optional: Add padding to the icon */
}

.add-icon {
  cursor: pointer;
  font-size: 40px;
  margin-right: 15px;
  border: 2px solid #007bff;
  /* Add your desired border color and style */
  border-radius: 10px;
  padding: 1px;
  /* Optional: Add padding to the icon */
}

.fileperson-icon {
  cursor: pointer;
  font-size: 25px;
  border: 2px solid #B99470;
  /* Add your desired border color and style */
  border-radius: 10px;
  padding: 1px;
  /* Optional: Add padding to the icon */
}


.notification-dot {
  margin-left: -20px;
  margin-top: -10px;
  font-size: xx-large;
}

.view-more{
  padding: none;
  margin:none;
}