.table-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    #buttons-div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}


@media (max-width: 768px) {
    .table-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    #applications-table thead {
        display: none;
    }

    #applications-table tbody tr {
        display: block;
        margin-bottom: 0.625rem;
        text-align: center;
    }

    #applications-table tbody td {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #buttons-div {
        width: 70%;
    }

    #applications-table tbody td:last-child {
        text-align: center;
    }
}