#header-container {
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 999 White !important;
}

.sided-items {
    margin-right: 5px;
}

/* styles.css */

.nav-link {
    text-align: center;
}

#info-items {
    color: white;
}

.icon-container {
    display: inline-block;
    margin-right: 5px;
}

.text-container {
    display: inline-block;
    vertical-align: middle;
}

.text-content {
    margin: 0;
    line-height: 1.5;
}